*{
  font-family:Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(255, 255, 255);
    margin: 0;
}

.logo{
height: 60px;
width: 170px;
float: left;
padding-top: 30px;
padding-left: 2em;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
    box-shadow: 0px 1px 10px 0px #181818;
   
  
  }
  
li {
    float: left;
  }
  
li a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 2em 2em;
    text-decoration: none;
    font-size: 115%;
  }
  
li a:hover {
    background-color: #e2e2e2;
  }


.input {
  float: right;
  margin-top: 15px;
  margin-right: 15px;
  width: 290px;
  background-color: #f5f5f5;
  color: #141414;
  min-height: 40px;
  border-radius: 10px;
  outline: none;
  border: none;
  line-height: 1.15;
  box-shadow: 0px 10px 20px -18px;
}
  
  
input:hover {
  outline: 1px solid lightgrey;
}

.carrusel{

  height: 26em;
  width: auto;
  box-shadow: 0px 13px 15px -11px #181818;
 
}




div.carrusel > img{
 width: 100%;
 height: 100%;
}

div.carrusel > img:hover{
  opacity: 0.9;
}



#best{
  background-color: rgb(255, 255, 255);
}


.bsell{

  text-align: center;
  padding-top: 3%;
}


#best > img{
  height: 20%;
  width: 20%;
  margin: 6.5%;
  box-shadow: 0px 0px 25px 5px;
}

/* Contacto */

.titulo_contacto {
  text-align: left;
  margin-left: 5%;
}

.p_contacto {
  text-align: left;
  margin-left: 5%;
  width: 60%;
}
  
.caja_contacto {
  width: 500px;
  height: 500px;
  background: rgb(236, 236, 236);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

div.caja_contacto > .ubi_retrowire, .ubi_av, .tlf {
  font-size: 90%;
  padding-left: 10%;
  text-align: left;
}

div.caja_contacto > .ubi_retrowire {
  padding-top: 4%;
}

div.caja_contacto > .ubi_av {
  color: gray;
}

div.card > .tlf {
  padding-top: 3%;
}

div.email {
  font-size: 60%;
  padding-top: 2%;
  text-align: left;
  padding-left: 10%;
}

.mapa {
  padding-left: 10%;
  padding-top: 3%;
  display: flex;
}


/* Sobre nosotros */

/* Primera parte */
div.caja_primera {
  border: 0.1px solid black;
  background-image: url(/RETROWIRE/Fotos/espacial.jpg);
  height: 280px;
  color: white;
}

div.caja_primera > h1, p {
  margin-left: 10%;
}

div.caja_primera > hr {
  border: 3px solid white;
  width: 14%;
  margin-left: 10%;
}

.p_sobrenosotros {
  text-align: justify;
  width: 50%;
  margin-left: 10%;

}

div.caja_primera > img {
  width: 220px;
  height: 250px;
  margin-left: 80%;
  margin-top: -15%;
}

/* Segunda parte */

div.segunda_parte > h1 {
  margin-top: 3%;
  margin-left: 10%;

}

div.segunda_parte > hr {
  border: 3px solid black;
  width: 8%;
  margin-left: 10%;
}

div.caja_segunda {
  border: 1px solid black;
  background-image: url(/RETROWIRE/Fotos/Pacman.gif);
  background-size: 55%;
  opacity: 1;
  margin-top: 3%;
  height: 500px;
}

div.caja_segunda > img {
  margin-top: -3.5%;
  margin-left: 20%;
  width: 360px;
  height: 600px;
}


/* Tercera parte */

div.tercera_parte > h1 {
  margin-top: 3%;
  margin-left: 10%;
}

div.tercera_parte > hr {
  border: 3px solid black;
  width: 15%;
  margin-left: 10%;
}

div.caja_tercera {
  margin-top: 3%;
  height: 900px;
}

div.valores {
  background: rgb(236, 236, 236);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  width: 400px;
  height: 300px;
  float: left;
  margin: 2%;
  margin-left: 15%;
  margin-top: 3%;
}

/* Autenticidad */
h3.autenticidad {
  text-align: center;
}

hr.linea_autenticidad {
  width: 16%;
  border: 2px solid black;
}

p.p_autenticidad {
  text-align: justify;
  padding-top: 5%;
  margin-right: 2%;
  font-size: 90%;
  width: 80%;
}


/* Innovación */
h3.innovacion {
  text-align: center;
}

hr.linea_innovacion {
  width: 16%;
  border: 2px solid black;
}

p.p_innovacion {
  text-align: justify;
  padding-top: 5%;
  margin-right: 2%;
  font-size: 90%;
  width: 80%;
}

.foto_innovacion {
  margin-left: 70%;
}

/* Pasión */
h3.pasion {
  text-align: center;
}

hr.linea_pasion {
  width: 16%;
  border: 2px solid black;
}

p.p_pasion {
  text-align: justify;
  padding-top: 5%;
  margin-right: 2%;
  font-size: 90%;
  width: 80%;
}

.foto_pasion {
  margin-top: -2%;
  margin-left: 5%;
}

/* Calidad */
h3.calidad {
  text-align: center;
}

hr.linea_calidad{
  width: 16%;
  border: 2px solid black;
}

p.p_calidad {
  text-align: justify;
  padding-top: 5%;
  margin-right: 2%;
  font-size: 90%;
  width: 80%;
}

.foto_calidad {
  margin-left: 70%;
}

















